$col-purple-dark: #312450;
$col-purple-med: #493382;
$col-purple-light: #5e42a6;
$col-purple-pale: #654aaa;

$col-pink-dark: #8C1C5A;
$col-pink-med: #b74e91;
$col-pink-light: #ba5696;
$col-pink-pale: #ffffff;

$col-blue-dark: #4c4696;
$col-blue-med: #ffffff;
$col-blue-light: #ffffff;
$col-blue-pale: #ffffff;

$nav-bar-height: 100px;

$boot-lg: 1200px;
$boot-md: 992px;
$boot-sm: 768px;
$boot-xs: 480px;
$boot-xxs: 389px;
$boot-xxxs: 282px;

/* Grey Colors */
$col-grey-dark: #232935;
$col-grey-med: #2F3543;
$col-grey-light: #3A4150;

$col-aqua-dark: #11685F;
$col-aqua-med: #2CD4C3;
$col-aqua-light: #42BBA3;

/* Orange Colors */
$col-orange-dark: #F43C12;
$col-brown-dark: #37302A;
$col-brown-light: #BAB9B6;

$col-card-grey: #A8BCE0;
$col-tooltip-grey: #635e5e;

$col-ignite-black: #000;
$col-ignite-orange: #F79727;


